.primary__button{
    cursor: pointer;
    padding: 0.5rem 1.3rem;
    border-radius: 3px;
    margin-right: 1rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.secondary__button{
    background: #a7e77c;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #a7e77c;
}